#figBox{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    
}
#lastBox{
    background-color: white;
    width: 490px;
    height: 180px;
    align-content: center;
    margin-top: 50px;
    border-radius: 20px;
}