.mainContainer{
    position: relative;
   
    top: -280px;
    
    width: 400px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        font-size: larger;
        font-weight: bolder;

    }
    #color{
        color: gray;
        font-size: 0.8rem;
    }

    .switch{
        color: rgb(85, 206, 253);
        font-weight: bolder;
    }
    p{
        text-align: left;
    }
}
.suggestionsText{
    display: flex;
    justify-content: space-between;
    
    p{
        font-weight: bolder;
    }
}
.friends{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;

    .nameImage{
        width: 40px;
    }

    .nameText{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;  
        width: 190px;
        box-sizing: border-box;
        margin: 10px 80px 0 20px;
        text-align: left;
    }

    span{
        color: grey;
       
    }
    .follow{
        color: rgb(85, 206, 253);
        font-weight: bolder;
        width: 100px;
    }
}