
#roboto{
    color: #161722;
    font-weight: bold;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contain{
  
    width: 460.58px;
    height: 34px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#image{
    background-color: white;
    img{
        width: 468.45px;
        height: 468.45px;
    }
}

#flex{
    display: flex;
    align-items: center;
    img{
        width: 34px; 
        height: 34px;
    }
}
.container{
    width: 490.3px;
    height: 784.19px;
    border: 1px solid gray;
}
.outer{
    background-color: white;
    border-radius: 20px;
    width: 490.3px;
    height: 59.95px;
}
body{
    background-color: #fafafa;
}